*               text=auto

# Git
.gitattributes  text eol=lf
.gitignore      text eol=lf
.gitmodules     text eol=lf

# Basic
Dockerfile      text eol=lf
*.sh            text eol=lf

# Programming Language
*.java          text eol=lf
*.c             text eol=lf
*.cpp           text eol=lf
*.h             text eol=lf
*.hpp           text eol=lf
*.py            text eol=lf
*.rb            text eol=lf
*.js            text eol=lf
*.cs            text eol=lf
*.exs           text eol=lf
*.go            text eol=lf
*.groovy        text eol=lf
*.jl            text eol=lf
*.jpynb         text eol=lf
*.R             text eol=lf
*.rs            text eol=lf

# Document
*.conf          text eol=lf
*.json          text eol=lf
*.yaml          text eol=lf
*.html          text eol=lf
*.xml           text eol=lf
*.css           text eol=lf
*.md            text eol=lf
